body
{
    margin: 0;
}
.navbar
{
    background-color: teal;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px  ;
}

.part1
{
    font-size: 20px;
    font-weight: bold;
}

.navs
{
    display: flex;
}

.demo
{
    gap: 10px;
    padding: 30px;
    text-decoration: none;
}

.button
{
    border-radius: 10px;
    width: 100px;
    height: 50px;
    border-color: blue;
    color: blue;
    margin: 10px;
    
}

.page1
{
    width: 100%;
    background-color: rgb(16, 130, 229);
}

.leftside
{
  width: 50%;
  height: 50%;
  /* text-align:justify; */
}

.rightside
{
    display: flex;
    padding: 50px 50px 50px 0px;
    justify-content: end;
    width: 50%;
    /* height: 50%; */
    align-items:center ;
    background-color:aliceblue(61, 3, 3);
    margin: 0px 0px 0px 910px;
}