:root {
    --text-dark: #1A1A1A;
    --text-black: #1D252D;
    --primary: #0D42C9;
    --bg-gray: #F8F8F8;
    --dark-gray: #4B4B4B;
    --light-gray: #7F83861A;
    --card-border: #F3F2F2;
}

body {
    font-family: "Roboto Flex", sans-serif;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

.header-left h1 {
    color: var(--text-dark);
    font-family: "Nunito", sans-serif;
    padding: 32px 0 0 0;
}

.container {
    width: 1440px;
    margin: 0 auto;
    padding: 0 120px;
}

.header .container {
    background-color: var(--bg-gray);
    display: flex;
    justify-content: space-between;
}

.header-right .nav-links {
    display: flex;
    gap: 40px;
    align-items: center;
}

.header-right ul {
    list-style-type: none;
}

.nav-links {
    margin: 0;
    padding-top: 30px;
}

.nav-links .nav-item a {
    position: relative;
    color: var(--dark-gray);
}

.nav-links .nav-item a,
.nav-links a,
.nav-links .login-btn {
    text-decoration: none;
}

.nav-links .login-btn {
    border: 1px solid var(--primary);
    padding: 13px 24px;
    font-size: 16px;
    border-radius: 6px;
    font-weight: 700;
    color: var(--primary);
}



/* page 1*/
.section-one .container {
    background-color: var(--bg-gray);
    padding: 100px 120px;
}

.section-one .container {
    display: flex;
    gap: 24px;
    align-items: center;
}

.banner-left {
    width: 50%;
    border-radius: 10px;
}

.banner-left h2 {
    font-size: 55px;
    font-weight: 700;
    line-height: 61px;
    color: var(--text-black);
}

.banner-left h1>span {
    color: var(--primary);
}

.banner-left p {
    margin-top: 30px;
}

.btn-group {
    display: flex;
    gap: 36px;
    align-items: center;
    margin-top: 30px;
}

.common-button {
    border: none;
    padding: 13px 24px;
    background-color: var(--primary);
    border-radius: 6px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
}

.video-play-button i {
    color: var(--primary);
    font-size: 16px;
}

.video-play-button {
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 14px;
    color: var(--primary);
    font-size: 16px;
}

.video-play-button span {
    display: inline-flex;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color: rgba(13, 66, 201, 0.1);
    justify-content: center;
    align-items: center;
}


/* page 2 */

.section-two {
    padding: 120px 0;
}

.section-two .container {
    display: flex;
    align-items: center;
    gap: 24px;
}

.section-two-left {
    width: 50%;
}

.section-two-right span {
    color: var(--primary);
}

.section-two-right h2 {
    font-size: 40px;
    font-weight: 600;
    line-height: 55px;
    margin-bottom: 20px;
}

.section-two-right p {
    font-size: 16px;
    font-weight: 400;
    color: var(--dark-gray);
}

/* page 3 */
.section-three .container {
    background-color: var(--bg-gray);
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-three h2 {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 50px;
}

.section-three span,
.section-four-title span,
.powerup-right span {
    color: var(--primary);
}

.consultant-vue-wrapper {
    display: flex;
    gap: 24px;
    align-items: center;
}


.consultant-vue-wrapper h3 {
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: 600;
    color: var(--text-black);
}

.consultant-vue-wrapper p {
    color: var(--dark-gray);
}

.img-wrapper {
    position: relative;
    width: 76px;
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-wrapper::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #e6f0ff;
    border-radius: 50%;
    z-index: 0;
}

.img-wrapper img {
    width: 56px;
    height: 56px;
    z-index: 1;
    position: absolute;
    top: 20px;
    left: 20px;
}

/* page 4 */
.section-four .container {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-four-title {
    display: flex;
    justify-content: space-between;
}

.section-four h2,
.powerup-right h2,
.section-six h2,
.section-seven h2 {
    font-size: 40px;
    font-weight: 600;
    line-height: 55px;
}

.card-wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 24px;
    margin-top: 50px;
}

.card {
    border: 1px solid var(--card-border);
    border-radius: 6px;
}

.card-content {
    padding: 20px;
}

.card span {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.card h4 {
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
}

.card h5 {
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    border-radius: 6px;
    color: var(--primary);
}

.card span h5 {
    padding: 4px 14px;
    background-color: var(--bg-purple);
}

.card ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 16px 0;
}

.card ul li {
    list-style-type: none;
    padding: 1px 8px;
    background-color: var(--light-gray);
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    color: var(--dark-gray);
}

.card p {
    font-size: 12px;
    line-height: 17px;
    font-weight: 400;
    color: var(--dark-gray);
}




/* page 5 */
.section-five .container {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: var(--bg-gray);
    display: flex;
    gap: 24px;
}

.powerup-left {
    width: 50%;
    display: flex;
    justify-content: center;
}

.powerup-right {
    width: 50%;
}

.powerup-right p {
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    color: var(--dark-gray);
    margin-top: 20px;
    margin-bottom: 30px;
}
/* page 6 */
.section-six .container {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-six h2,
.section-seven h2 {
    text-align: center;
    margin-bottom: 50px;
}

.review-card-wrapper {
    display: flex;
    gap: 24px;
}

.review-card {
    border: 1px solid var(--card-border);
    border-radius: 6px;
    padding: 24px;
}

.review-card p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--text-black);
    margin-bottom: 24px;
}

.review-profile {
    display: flex;
    gap: 20px;
}

.review-profile h4 {
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
}

.review-profile h5 {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin-bottom: 10px;
    color: var(--dark-gray);
}

.review-profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.fa-star {
    font-size: 20px;
    width: 24px;
    height: 24px;
    color: var(--primary);
}

.star-wrapper {
    display: flex;
    gap: 5px;
    align-items: center;
}

/* page  7*/

.section-seven .container {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: var(--bg-gray);
}

.price-card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.price-card1 {
    padding: 20px;
    /* background-color: var(--light); */
    background-color: #F3F2F2;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price-card2 {
    padding: 20px;
    /* background-color: var(--light); */
    background-color: #F3F2F2;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price-card3 {
    padding: 20px;
    /* background-color: var(--light); */
    background-color: #F3F2F2;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.demo {
    margin-top: 14px;
    padding: 4px 14px;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    background-color: var(--bg-purple);
    display: inline;
    color: var(--primary);
    border-radius: 6px;
    margin-bottom: 20px;
}

.demo2 {
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 6px;
}

.purchase-type {
    color: var(--dark-gray);
}

.demo3{
    text-align: center;
    color: var(--text-black);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 38px;
}

.common-button
{
    width: 150px;
}

/* footer */
.footer .container {
    display: flex;
    gap: 169px;
    padding-top: 120px;
    padding-bottom: 40px;
}

.footer h2 {
    color: var(--primary);
    font-family: "Nunito", sans-serif;
    margin-bottom: 20px;
}

.footer ul li {
    list-style: none;
    margin-bottom: 10px;
}

.footer ul li a,
.contact-info p {   
    white-space: nowrap;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    color: var(--text-black);
    text-decoration: none;
    cursor: pointer;
}

.footer p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--text-black);
}

.footer h4 {
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    color: var(--primary);
    margin-bottom: 16px;
    white-space: nowrap;
}

.contact-info i {
    color: var(--text-black);
    margin-top: 6px;
}

.contact-info p {
    margin-bottom: 10px;
}

.icon-group {
    display: flex;
    gap: 24px;
    align-items: center;
}

.fa-envelope {
    font-size: 16px;
    height: 16px;
}

.footer h3 {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding: 20px 0;
    border-top: 1px solid var(--card-border);
    width: 1440px;
    margin: 0 auto;
}

.power-up .button{
    width: 250px;
    background-color: var(--primary);
    
}